<br>
<div class="container">
  <div class="banner">
    <h1 class="title">NVR FRGT</h1>
    <h2>Tu oublies au fur et à mesure les films que t'as vu ? Never Forget et fais tes listes !</h2>
  </div>
<ul id="lists">
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

</div>


<%= link_to new_list_path do %>
  <i class="fa fa-plus"></i> Add a new list
<% end %>
